<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<a href="/" style="background-color: rgba(208,214,245,0.98)"><h1>FlybtWind-REGIST</h1></a>
<div class="form-div">
    <form action="/userapp/regist" method="post">
            <input type="text" name="telephone" placeholder="ID">
            <input type="text" name="password" placeholder="PassWord">
            <input type="text" name="repassword" placeholder="RePassWord">
            <input type="submit" value = "注册">
    </form>
</div>
</body>
</html>